{% extends "./bases/baseSignup.html" %}

{% block title %}Crear usuario{% endblock %}

{% block logout %}hidden{% endblock %}
{% block logOutText %}Cerrar sesión{% endblock %}
{% block flag %}src="{{ url_for('static', filename='/img/flags/ES.png') }}"{% endblock %}
{% block language %}Idioma{% endblock %}

{% block placeholderU %}placeholder="Usuario"{% endblock %}
{% block placeholderP %}placeholder="Contraseña"{% endblock %}
{% block placeholderP2 %}placeholder="Confirmar contraseña"{% endblock %}
{% block submitBtn %}Crear usuario{% endblock %}